body {
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    padding: 25px;
    justify-content: space-between;
    flex-direction: row;
    background-color: rgb(241, 238, 238);
    font-size: 20px; 
    border-bottom: 3px solid;
    border-radius: 10px;
    border-color: rgb(221, 212, 212);
}

header #logo {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    align-self: center;
}

header .menu {
    display: flex;
    gap: 20px;
}

.nav {
    display: flex;
    flex-direction: row;
}

.ul {
    display: flex;
    gap: 35px;
    list-style: none;
    align-items: center;
}

.button {
    background-color: crimson;
    border-radius: 20px;
    padding: 15px;
    color:white;
}

    .button:hover {
        transform: scale(1.03);
        cursor: pointer;
        background-color: rgb(180, 17, 49);
    }

a {
    text-decoration: none;
    color: black;
}